[Unit]
Description=Peristent %i cuse device

[Service]
Environment=RUST_LOG=info
EnvironmentFile=/etc/sysconfig/cuse2net-%i.conf
ExecStart=/usr/local/sbin/cuse2net-cuse --device %I \
  --major $CUSE_MAJOR --minor $CUSE_MINOR \
  --server ${SERVER_IP}:${SERVER_PORT}

[Install]
WantedBy=multi-user.target
